/* * {
    border: 1px solid red;
} */

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts1/fonts/source-sans-pro-v21-latin-regular.ttf")
    format("woff");
}

@font-face {
  font-family: "Mali";
  src: url("../../fonts1/Mali/Mali-Regular.ttf") format("woff");
}

/* MAIN */

main,
article {
  box-sizing: border-box;
}



body {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 1.5em;
  background-color: #fff;
}

.container-gbl {
  max-width: 1100px;
  margin-top: 2em;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
q {
  font-family: "Mali";
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
  color: #037d9d;
}

h4 {
  font-size: 14px;
}

/* header */

header {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0%;
  text-align: center;
  align-items: center;
}

li {
  padding: 1em;
  list-style: none;
}

ul li:first-child {
  background-color: #ededed;
  border-bottom: 2px solid #037d9d;
  border-left: 2px solid #037d9d;
}

/* image */

.back-ground {
  background-image: url(instructions/images/banner1.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
  width: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 1em;
}

.white-container p {
  color: #db0059;
  opacity: 100%;
  font-weight: bold;
}

/* main main */

/* quote */

.quote {
  background-color: #ededed;
  border-left: #037d9d 2px solid;
  border-bottom: #037d9d 2px solid;
  padding: 1em;
  margin-top: 2em;
  text-align: center;
}

q {
  font-style: italic;
  font-weight: bold;
}

cite {
  font-weight: bold;
  font-style: normal;
}

/* actu du moment */

#actu div:nth-child(2) {
  text-align: center;
}

#actu div:nth-child(2) i {
  font-size: 2em;
  margin-top: 1em;
  color: #037d9d;
}

/* article 1 */

.card h3 {
  align-self: flex-start;
}

.grid-template {
  display: grid;
  row-gap: 1em;
}

.card {
  background-color: #ededed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.img-container img {
  height: auto;
  width: 100%;
}

.card a {
  text-decoration: none;
  background-color: #1d1e3d;
  color: white;
  padding: 0.5em;
  display: inline-block;
  
}
/* les interviews */

#les-interviews i {
  color: #db0059;
  font-size: 2em;
}

#les-interviews {
  margin-top: 2em;
  text-align: center;
  
}

/* footer */


footer {
  background-color: #db0059;
}

footer h3 {
  text-align: center;
  color: #fff;
}

footer p {
  color: #fff;
}

.form-sizing {
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
  margin-left: 5%;
  margin-right: 5%;
}

footer input {
  background-color: #fff;
  color: #db0059;
  padding: 1em;
  display: block;
  margin: 0.5em;
}

/* form input:nth-child(1){
    
    border: 1px solid rgb(221, 218, 27);
} */

.temporaire {
  width: 70%;
}

/* problème */
footer div:last-child {
  text-align: center;
}

.temporaire2 {
  text-align: center;
  color: #fff;
}

.temporaire2 i {
    margin: 0 1em;
}

.temporaire3{
    background-color: grey;
}

/* media queries */

@media screen and (min-width: 780px) {
  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    width: 25%;
  }

  
}

@media screen and (min-width: 980px) {
    .grid-template{
        grid-template-columns: auto auto;
        /* grid-template-rows: auto auto auto ; */
        row-gap: 1em;
        column-gap: 1em;
    }

    #les-interviews{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .card{
  height: 100%;
}
}
