/* Fontface */

@font-face {
  font-family: "Athiti";
  src: url("../../fonts1/Athiti/Athiti-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Merienda";
  src: url("../../fonts1/Merienda/static/Merienda-Regular.ttf");
}

/* Common */

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: "Athiti";
  font-weight: 500;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merienda";
}

h1 {
  text-transform: uppercase;
  font-family: "Athiti";
  font-weight: bolder;
  font-size: 30px;
}

h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

p,
a {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.img-shadow {
  box-shadow: 3px 3px 8px rgba(76, 67, 67, 0.5);
}

.star-inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-inline i {
  color: #950000;
}

/* header - nav */

.div-rassemblement-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  height: 200px;
  width: 200px;
}

nav {
  width: 100%;
}

nav ul {
  text-align: center;
  padding: 0%;
  margin: 0%;
}

ul li {
  list-style: none;
  background-color: #ebe3db;
  border: 0.5px solid #4c4343;
}

nav ul li a {
  color: #4c4343;
}

nav ul li:first-child {
  background-color: #4c4343;
}
#specify2 {
  color: #ebe3db;
  transition: 1s;
}



.slider1 {
  width: 100%;
  margin-top: 1em;
  position: relative;
}

.slider1 img {
  height: auto;
  width: 100%;
}

.i-like-div {
  /*Possible de faire autrement*/
  text-align: center;
}

/* animation nav */

.specify:hover {
  background-color: red;
}

.specify:hover a {
  color: white;
}

/* Première section */

/* Deuxième section */

.red-container {
  background-color: #ebe3db;
  margin-top: 1em;
  padding-bottom: 2em;
}

.dotted-p {
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: dotted 2px black;
  margin-left: 1em;
  margin-right: 1em;
}

.dotted-p i {
  color: #950000;
  margin-right: 1em;
}

/* see more btn */

.see-more {
  background-color: #4c4343;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 1em 0 1em;
  padding: 0.5em;
  transition: 0.5s;
}

.see-more svg {
  height: 40px;
  margin: 0%;
  width: 50px;
}

.see-more a {
  color: white;
  font-weight: bold;
}

.see-more:hover {
  background-color: #950000;
}

/* animation menu */

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;

  opacity: 0;
  transition: 1s;

  border: 5px solid white;
  background-color: rgba(76, 67, 67, 0.9);
}

figcaption p:first-child {
  font-size: 50px;
  color: white;
}

figcaption p {
  color: white;
  font-weight: bold;
}

figcaption p:nth-child(2),
figcaption p:last-child {
  font-style: italic;
}

figcaption:hover {
  opacity: 1;
}

.white-box {
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

/* footer */

footer {
  text-align: center;
  background-image: url("instructions/ressources/images/footer-bg.jpg");
  background-size: cover;
}

footer h4 {
  color: white;
  border-bottom: 2px dotted white;
}

footer p {
  color: white;
}

footer div i {
  color: white;
  margin: 0 1em;
  font-size: 1.2em;
}

/* media queries */

@media screen and (min-width: 780px) {
  ul {
    display: flex;
    justify-content: space-around;
    background-color: #ebe3db;
  }

  ul li {
    border: none;
    padding: 0.5em 1em;
  }

  footer {
    display: flex;
    justify-content: space-around;
  }
  .i-like-div {
    /*Possible de faire autrement*/
    text-align: center;
  }
}

@media screen and (min-width: 1100px) {
  article {
    display: flex;
    flex-direction: row-reverse;
  }

  .article-paragraphe {
    /*Ne devrait pas fonctionner*/
    width: 100%;
  }
  .big-mac-big-wrapp {
    display: flex;
    gap: 1em;
  }
  .div-rassemblement-header {
    flex-direction: row;
    justify-content: space-between;
  }
  ul {
    background-color: white;
  }
  nav {
    width: 40%;
  }
  .i-like-div {
    /*Possible de faire autrement*/
    display: flex;
  }
}
