h1,
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 i,
h2 i {
  font-size: 0.7em;
  color: #950000;
}

/* couleur 3eme btn nav */

nav ul li:first-child {
  background-color: #ebe3db;
  color: #4c4343;
}

#nav2 li:nth-child(3) {
  background-color: #4c4343;
  transition: 1s;
}

/* animation nav */

#nav2 li:nth-child(3) a {
  color: #ebe3db;
}

#nav2 li:hover {
  background-color: #950000;
  transition: 1s;
}

#nav2 li:hover a {
  color: white;
}

#nav2 li{
    transition: 1.5s all;
}

/* menu selector */

.wrapper-menu-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-selector {
  width: 100%;
}

.menu-selector ul li:first-child{
    background-color: #950000;
    color:#ebe3db
}

.menu-selector ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.menu-selector ul li {
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-weight: bold;
}
