h2 {
  background-color: lightgray;
  padding: 0%;
  margin: 0%;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  gap: 1em;
  margin-left: auto;
  margin-right: auto;
}

article{
  padding: 1em;
}

.flexbox{
    display: flex;
    gap: 1em;
}

main h2:last-child {
  margin-top: 1em;
}

main {
  padding: 0 2em !important;
}

@media screen and (max-width: 1200px) {
    .wrapper{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 780px) {
    
    .flexbox{
        flex-wrap: wrap;
    }
}