article {
  display: flex;
  justify-content: center;
}

img {
  transition: 2s all;
  transform: rotate(90deg);
}

img:hover {
  /* animation-name: goUp2;
  animation-name: goUp; */
 
  transform: rotate(0deg);
}

/* @keyframes goUp {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* animation 2 */

@keyframes goUp2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
} 
