.pos-sticky {
  position: sticky;
  top: 0;
  background-color: #f9c;
}

.pos-static {
  position: static;
  background-color: #9c6;
}

.pos-relative {
  position: relative;
  right: 5em;
  background-color: #fc3;
}

.pos-relative2 {
  position: relative;
}

.pos-absolute1 {
  position: absolute;
  background-color: #f93;
  padding: 1em;
  top: 0;
  right: 0;
}

.pos-fixed {
    position: fixed;
    background-color: #69c;
    padding: 1em;
    top: 20px;
    right: 0;
    width: 20%;
  }