.box {
  max-width: 240px;
  padding: 1.5rem;
  margin: 0 auto 3rem auto;
  background-color: #fc3;
}

.box-1 {
  transform: translateX(150px);
}
.box-2 {
  transform: scale(0.5);
}
.box-3 {
  transform: rotate(45deg);
}
.box-4 {
  transform: skew(26deg, 0deg);
}
.box-5 {
  transform: translateX(200px) rotate(45deg) scale(0.5);
}

.box-6 {
  transition: 2s;
}

.box-6:hover {
  transform: scale(1.5);
}
